
.btn-primary {
  background-color: #012970;
  color: #F5F5F5;
}

.btn-primary:hover {
  background-color: #023386;
  color: #F5F5F5;
}

.rdt_TableRow{
  min-height: 37px !important;
}
.new5{
margin-Top: 4rem;
}

.topbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.tabhead3 {
  font-size: 15px;
  text-align: center;
  padding-top: 1px;
  font-weight: bold;
  color: white;
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.tabhead3:hover {
  transform: scale(1.1); /* Increases size by 10% on hover */
}
.tabData1{
  font-size: 12px; 
  text-align : center;
  color: white;
}
.section2{
  width: 50%;
  height: 48px;
  padding: 1px;
  border-left: 1px solid rgb(221, 221, 221);
}
